TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=ollama-run-task-queue
TEMPORAL_UI_URL=http://localhost:8080
OLLAMA_API_BASE_URL=https://crumpet-alphabet-truffle.ngrok-free.dev
